[submodule ".vim/pack/plugins/start/tern_for_vim"]
	path = .vim/pack/plugins/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule ".vim/pack/plugins/start/completor.vim"]
	path = .vim/pack/plugins/start/completor.vim
	url = https://github.com/maralla/completor.vim
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/plugins/start/vim-gutentags"]
	path = .vim/pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
